.Cards {
  height: 400px;
  width: 100%;
  background: none;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
  @media (max-width: 300px) {
    height: 300px;
  }
  &.Cards__opacity {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
  &.Cards__start {
    height: auto;
  }
  .Cards__container {
    position: absolute;
    width: 100%;
    height: auto;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    &.Cards__container_back {
      z-index: 0;
      .Cards__item_contents {
        .Placeholder {
          background: none;
        }
      }
    }
    .Cards__item {
      background: var(--header_search_field_background);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 300px;
      height: 400px;
      will-change: transform;
      // border-radius: 10px;
      @media (max-width: 300px) {
        width: 230px;
        height: 300px;
      }
      &.Cards__item_start {
        background: none;
        .Cards__item_content {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .Cards__item_contents {
          height: 100%;
          display: flex;
          flex-flow: column;
          .Cards__Avatar {
            margin: auto;
          }
        }
      }
      &.Cards__item_profile {
        .Cards__item_contents {
          height: 100%;
          display: flex;
          justify-content: center;
          flex-flow: column;
          .Cards__Avatar {
            display: flex;
            justify-content: center;
            .Avatar__img {
              width: 80px !important;
              height: 80px !important;
              background: none;
            }
          }
          .Cards__flex {
            display: flex;
            margin: auto;
          }
          .Cell {
            .Cards__Header {
              font-size: 13px;
              line-height: 15px;
            }
          }
        }
      }
      .Cards__item_container {
        position: absolute;
        width: 300px;
        bottom: 0;
        color: #e1e3e6;
        @media (max-width: 300px) {
          width: 230px;
        }
        .Cards__item_title {
          padding: 0 10px 10px;
          text-align: center;
          font-weight: 800;
          word-break: break-word;
          overflow-wrap: break-word;
          word-wrap: break-word;
          word-break: break-all;
        }
        .Cards__item_progress {
          padding: 10px;
        }
        .Cards__item_subtitle {
          padding: 0 12px;
          font-size: 14px;
          word-break: break-word;
          overflow-wrap: break-word;
          word-wrap: break-word;
        }
        .Cards__item_bottom {
          display: flex;
          justify-content: space-around;
          .Cards__item_icon {
            display: flex;
            align-items: flex-end;
            padding: 12px;
            span {
              padding-right: 4px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  .Cards__loading {
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: all 50ms linear;
    visibility: visible;
    opacity: 1;
    &.Cards__loading_hide {
      opacity: 0;
      visibility: hidden;
    }
    .Cards__loading_item {
      width: 300px;
      height: 400px;
      // border-radius: 10px;
      background: rgba(1, 1, 1, 0.5);
    }
  }
}


.Start__title {
  text-align: center;
  font-size: 21px;
  font-family: var(--font-tt);
  font-weight: 800;
}

.Start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 4px;
  span {
    font-weight: 600;
  }
  .Start__margin_top {
    @media (max-width: 300px) {
      margin-top: -36px;
    }
  }
  .Start__margin_bottom {
    margin-bottom: 24px;
    @media (max-width: 300px) {
      margin-bottom: 12px;
    }
  }
  .Start__bold {
    font-size: 18px;
    line-height: 32px;
    font-weight: 800;
    padding-bottom: 24px;
  }
  .Start__bottom {
    position: absolute;
    bottom: 12px;
    width: 100%;
    text-align: center;
  }
}
