// #root {
//     text-align: center;
//     display: flex;
//     justify-content: center;
//     width: 100vw;
//     min-height: 100vh;
//     overflow: hidden;
//     /* background: linear-gradient(#fff, #999); */
//     background: linear-gradient(#e66465, #9198e5);
//   }

//   #root>div {
//     width: 260px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//   }

//   h1 {
//     /* font-family: 'Alatsi', sans-serif; */
//     font-family: 'Damion', cursive;
//     /* color: #F38D68; */
//     color: #fff;
//     text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
//   }

.swipe {
  position: absolute;
}

.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 300px;
}

.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 260px;
  height: 300px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

//   .swipe:last-of-type {

//   }

//   .card h3 {
//     position: absolute;
//     bottom: 0;
//     margin: 10px;
//     color: #fff;
//   }

//   .infoText {
//     width: 100%;
//     height: 28px;
//     justify-content: center;
//     display: flex;
//     /* color: #F38D68; */
//     color: #fff;
//     animation: popup 200ms;
//   }

//   @keyframes popup {
//     0% {
//       transform: scale(0);
//     } 70% {
//       transform: scale(1.1);
//     } 85% {
//       transform: scale(0.94);
//     } 100% {
//       transform: scale(1);
//     }
//   }

.filter {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, black 100%);
  border-radius: 18px;
}

.text {
  position: relative;
  font-weight: bolder;
  font-size: 28px;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  top: 85%;
  left: 5%;
}

.Promocod {
  display: flex;
  .Promocod__input {
    width: 100%;
    margin-right: 12px;
  }
}

.Cell__indicator_full {
  .Group__content {
    margin-top: 0;
  }
  .Cell__indicator {
    overflow: initial;
  }
}

.Button__margin {
  margin-bottom: 12px;
}

.Achievement {
  // background-image: linear-gradient(135deg, var(--tabbar_inactive_icon) 0%, var(--header_alternate_background) 100%);
  background: var(--content_tint_background);
  height: 72px;
  margin: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 12px;
  opacity: 0.5;
  &.Achievement__accepted {
    opacity: 1;
  }
  .Achievement__title {
    text-align: center;
    // color: #818c99;
    // color: var(--text_secondary);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
  }
  .Achievement__subtitle {
    text-align: center;
    font-size: 14px;
    margin: 8px 0;
  }
  .Achievement__progress {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
}

.Promocode {
  background: var(--content_tint_background);
  height: 72px;
  margin: 12px;
  margin-top: 0;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 12px;
  border: 1px solid var(--image_border);
  opacity: 0.5;
  &.Promocode__activate {
    margin: 0;
    margin-top: 12px;
  }
  &.Promocode__active {
    opacity: 1;
  }
  .Promocode__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
  }
  .Promocode__subtitle {
    text-align: center;
    font-size: 14px;
    margin: 8px 0;
  }
  .Promocode__progress {
    font-size: 13px;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }
}

.Profile__Div {
  padding-bottom: 0;
  .FormStatus {
    margin-bottom: 12px;
  }
}

.Spinner__auto {
  height: auto !important;
}

.Accent {
  color: #3f8ae0;
  color: var(--accent);
}

.ModalCard__reconnect {
  .ModalCard__in {
    transform: translateY(0);
    .PanelHeaderButton {
      display: none;
    }
    .Icon--error_outline_56 {
      color: var(--dynamic_red);
    }
  }
}

.Div__without-padding-bottom {
  padding-bottom: 0;
  .Card {
    margin-top: 12px;
  }
}

.FormStatus__margin {
  margin: 12px;
}

.Spinner__margin {
  margin: 12px;
}

.Gallery__margin {
  margin-bottom: 12px;
}

.Padding-bottom {
  padding-bottom: 12px;
}

.Margin-bottom {
  margin-bottom: 12px;
}

.SvgNumber {
  font-size: 32px;
  color: var(--text_primary);
}

.Epic .FiexedLayout__Start {
  padding-bottom: 12px;
}

.img__group {
  width: 100%;
}

.GroupPanel {
  position: relative;
  .GroupPanel__img {
    width: 100%;
  }
  .GroupPanel__title {
    position: absolute;
    bottom: 12px;
    left: 12px;
    font-size: 12px;
  }
}

.FormStatus__margin-flank {
  margin: 0 12px;
}

.PhotoCard {
  width: 96px;
  height: 96px;
  border-radius: 10px;
  background-size: cover;
  .PhotoCard__close {
    position: absolute;
    right: -4px;
    top: -4px;
    color: var(--destructive);
    background: var(--content_tint_background);
    border-radius: 666px;
  }
}

.CardScroll__in {
  margin: 12px 0;
}

.Card__file-icon {
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    width: 96px;
    height: 96px;
    position: absolute;
    top: -30px;
    left: -30px;
    opacity: 0;
  }
}

.FormStatus__without-bottom {
  margin: 12px 12px 0;
}

.Div__without-top {
  padding: 0 12px 12px;
}

.Balance {
  display: flex;
  align-items: flex-end;
  span {
    padding-right: 4px;
  }
}

.Cell__center {
  text-align: center;
  font-weight: 800;
}
